<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="img/logo.png">
	<title>Teodoro Final</title>
</head>
<body background="img/back.jpg">
<font size="30" face="Calibri Light" color="#808080">
<center>
	<h1>TRANSFORMERS</h1>
	</font>

	<style>
	body{
		background:url(img/back.jpg)
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;
	}
	</style>
	<audio autoplay loop>
  <source src="mp3/bg.mp3" type="audio/mpeg">

</audio>
<div class="sidebar-image-gallery">

             <a href="/part1.html" alt="Transformers" title="Transformers"><img src="img/1.jpg" width="250" height="450" style="border:5px solid blue"></a>

             <a href="/part2.html" alt="Transformers: Revenge of the Fallen" title="Transformers: Revenge of the Fallen"><img src="img/2.jpg" width="250" height="450" style="border:5px solid red"></a>

             <a href="/part3.html" alt="Transformers: Dark of the Moon" title="Transformers: Dark of the Moon"><img src="img/3.jpg" width="250" height="450" style="border:5px solid orange"></a>
 
             <a href="/part4.html" alt="Transformers: Age of Extinction" title="Transformers: Age of Extinction"><img src="img/4.jpg" width="250" height="450" style="border:5px solid grey"></a>

             <a href="/part5.html" alt="Transformers: The Last Knight" title="Transformers: The Last Knight"><img src="img/5.jpg" width="250" height="450" style="border:5px solid yellow"></a>
<br>
<br>
<br>
<br>
<br>
 <a target="_blank" href="https://www.facebook.com/CaptainTeodoro" alt="Facebook" title="Ghean Teodoro"><img src="img/fb.png" width="51" height="50" ></a>
  <a target="_blank" href="https://twitter.com/GheanCarlo" alt="Twitter" title="Gheancarlo"><img src="img/tw.png" width="52" height="50" ></a>
   <a target="_blank" href="https://www.instagram.com/potatooooman/" alt="Instagram" title="potatooooman"><img src="img/ins.png" width="52" height="52" ></a>

</div>
</center>
</body>
</html>