<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="img/logo.png">
<title>Transformers: Dark of the Moon</title>
<link rel="stylesheet" type="text/css" href="css/part1.css">

</head>
<body background="img/back.jpg">
<style>
	body{
		background:url(img/back.jpg)
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;
	}
	</style>
<div id="app"></div>
<script
 src="https://code.jquery.com/jquery-3.1.1.min.js"
 integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
 crossorigin="anonymous"  class="loader"></script>

       <script type="text/javascript" src="js/part3.js"></script>


</body>
</html>