<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="../public/img/logo.png">
<title>Transformers: The Last Knight</title>
<link rel="stylesheet" type="text/css" href="../public/css/part5.css">

</head>
<body background="../public/img/back.jpg">
<style>
	body{
		background:url(back.jpg)
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		background-attachment: fixed;
	}
	</style>
<div id="app"></div>
<script
 src="https://code.jquery.com/jquery-3.1.1.min.js"
 integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
 crossorigin="anonymous"  class="loader"></script>

       <script type="text/javascript" src="../public/js/part5.js"></script>


</body>
</html>